openapi: 3.0.3
info:
  title: Dog API Documentation
  description: |
    # About 
      **[Dog API](https://dog.ceo/dog-api/)** is the internet's largest collection of open source dog pictures.
  license:
    name: MIT License
    url: https://opensource.org/license/MIT
  version: 0.0.1
servers:
- url: https://dog.ceo/api
  description: Production server
externalDocs:
  description: External Documentation
  url: https://dog.ceo/dog-api/documentation/
tags:
  - name: Random 
    description: Returns a random image
  - name: Breed
    description: Searches you can do based on breed.
  - name: SubBreed
    description: Searches you can do using sub-breed.
paths:
  /breeds/list/all:
    get:
      tags:
        - Breed 
      summary: List dog breeds.
      description: Returns a list of available dog breeds.
      operationId: getBreeds
      responses:
        '200':
          description: Successfully returns a list of dog breeds.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
                    example: [ "affenpinscher": [], "african": [], "airedale": [], "akita": []]
                    description: A map of dog breeds to their sub-breeds (if any).
                  status:
                    type: string
                    enum: [success, error]
                    description: Status of the API response.
                required:
                  - message
                  - status
  /breeds/image/random:
    get:
      tags:
        - Random
      summary: Returns random image.
      description: Returns a random dog image URL. 
      operationId: breedsImageRandom
      responses:
        '200':
          description: A random dog image.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    format: uri
                    example: "https://images.dog.ceo/breeds/mastiff-bull/n02108422_4793.jpg"
                    description: URL of the dog image.
                  status:
                    type: string
                    enum: [success, error]
                    description: Status of the API response.
                required:
                  - message
                  - status
  /breed/{breedId}/images:
    get:
      tags:
        - Breed
      summary: Returns a lists of images for a specific dog breed.
      description: Returns a list of image URLs for the specified dog breed, e.g. hound.
      operationId: allBreedImages
      parameters:
        - name: breedId
          in: path
          required: true
          description: The ID or name of the dog breed (e.g. `hound-afghan`).
          schema:
            type: string
      responses:
        '200':
          description: Successfully returned a list of image URLs.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: array
                    items:
                      type: string
                      format: uri
                    description: List of dog image URLs.
                    example: ["https://images.dog.ceo/breeds/corgi-cardigan/miss-muffin.jpg", "https://images.dog.ceo/breeds/corgi-cardigan/n02113186_10077.jpg","https://images.dog.ceo/breeds/corgi-cardigan/n02113186_1016.jpg"]
                  status:
                    type: string
                    enum: [success, error]
                    description: Status of the response.
                required:
                  - message
                  - status
        '400':
          description: Invalid breed ID supplied.
        '404':
          description: Breed not found.
  /breed/{breedId}/images/random:
    get:
      tags: 
        - Random
      summary: Get random dog breed image.
      description: Returns a single random image URL for the specified dog breed.
      parameters:
        - name: breedId
          in: path
          required: true
          description: The ID or name of the dog breed (e.g. `mastiff-bull`, `hound-afghan`).
          schema:
            type: string
      responses:
        '200':
          description: Successfully returned an image URL.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    format: uri
                    description: URL of the dog image.
                    example: https://images.dog.ceo/breeds/hound-afghan/n02088094_3937.jpg
                  status:
                    type: string
                    enum: [success, error]
                    description: Status of the response.
                required:
                  - message
                  - status
        '400':
          description: Invalid breed ID supplied.
        '404':
          description: Breed not found.
  /breed/{breedId}/images/random/{number}:
    get:
      tags:
        - Random
      summary: Get dog breed images.
      description: Returns a specified number of random image URLs for the specified dog breed.
      parameters:
        - name: breedId
          in: path
          required: true
          description: Name of dog breed.
          schema:
            type: string
        - name: number
          in: path
          required: true
          description: Number of random images to return.
          schema:
            type: integer
            minimum: 1
            maximum: 50  # adjust based on your API limits
      responses:
        '200':
          description: Successfully returned a list of image URLs.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: array
                    items:
                      type: string
                      format: uri
                    description: List of random dog image URLs.
                    example: ["https://images.dog.ceo/breeds/beagle/n02088364_10354.jpg", "https://images.dog.ceo/breeds/beagle/n02088364_17671.jpg"]
                  status:
                    type: string
                    enum: [success, error]
                    description: Status of the response.
                required:
                  - message
                  - status
        '400':
          description: Invalid number supplied.
        '404':
          description: Breed not found.
  /breed/{subbreedId}/list:
    get:
      tags:
        - SubBreed
      summary: Get list of sub-breeds.
      description: Returns a list of sub-breeds for the specified dog breed.
      parameters:
        - name: subbreedId
          in: path
          required: true
          description: The ID or name of the dog breed (e.g., `bulldog`, `hound`).
          schema:
            type: string
      responses:
        '200':
          description: Successfully returned a list of sub-breeds.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: array
                    items:
                      type: string
                    description: List of sub-breed names
                    example: ["afghan", "basset", "blood", "english", "ibizan", "plott", "walker"]
                  status:
                    type: string
                    enum: [success, error]
                    description: Status of the response.
                required:
                  - message
                  - status
        '400':
          description: Invalid breed name supplied.
        '404':
          description: Breed not found or has no sub-breeds.
